@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track-piece {
  background-color: #c2d2e4d8;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 20px;
  background-color: #108dc7;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #434343;
  width: 100vw;
  height: 110vh;
  position: absolute;
}

#header {
  width: 100%;
  height: 10.2%;
  color: #f8f0f0;
  background: linear-gradient(to right, #fdc830, #f37335);
  display: flex;
  margin: auto;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#header ul :hover {
  color: #108dc7;
}

#header h1 {
  margin-left: 80px;
  justify-content: flex-start;
}

#header h1 {
  color: #2b2c2d;
}

.img_bola_menu {
  display: flex;
  justify-content: flex-start;
  height: 90%;
  margin-left: 1.2%;
}

.navbar {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  margin-left: 19%;
}

.navbar a {
  color: #2b2c2d;
  text-decoration: none;
  font-size: 20px;
}

/*  Parte quadras */

.div_quadras {
  width: 100%;
  height: 100%;
  background: #434343;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container_quadra1 {
  display: flex;
  height: 75%;
  width: 18%;
  border: 5px #f37335 outset;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-radius: 8px;
  z-index: 2;
  margin-top: 5%;
  box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
    rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
    rgba(240, 101, 46, 0.05) 25px 25px;
}

.div_texto_info {
  width: 100%;
  height: 28%;
  padding-bottom: 9px;
}

.p_descricao {
  width: 100%;
  height: 100%;
  color: #f8f0f0;
  text-align: center;
  transition: 0.5s linear;
}

button {
  width: 120px;
  height: 50px;
  border-color: #000000b0;
  background-color: #f37435bd;
  border-radius: 8px;
  color: #f8f0f0;
}

button:hover {
  width: 140px;
  height: 55px;
  transition: 500ms linear;
  background-color: #108dc796;
}

/*  Parte card quadras*/
.titulos {
  color: #fff;
  font-size: 18px;
  font-weight: inherit;
  font-style: italic;
}

.container_quadra2 {
  display: flex;
  height: 75%;
  width: 18%;
  border: 5px #f37335 outset;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  z-index: 2;
  margin-top: 5%;
  box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
    rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
    rgba(240, 101, 46, 0.05) 25px 25px;
}

.container_quadra3 {
  display: flex;
  height: 75%;
  width: 18%;
  border: 5px #f37335 outset;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  z-index: 2;
  margin-top: 5%;
  box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
    rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
    rgba(240, 101, 46, 0.05) 25px 25px;
}

.container_quadra4 {
  display: flex;
  height: 75%;
  width: 18%;
  border: 5px #f37335 outset;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  z-index: 2;
  margin-top: 5%;
  box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
    rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
    rgba(240, 101, 46, 0.05) 25px 25px;
}

.container_quadra5{
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
  }
  

.container_quadra6 {
  display: flex;
  height: 75%;
  width: 18%;
  border: 5px #f37335 outset;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  z-index: 2;
  margin-top: 5%;
  box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
    rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
    rgba(240, 101, 46, 0.05) 25px 25px;
   
}

.container_quadra7 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra8 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra9 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }
  
  .container_quadra10 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra11 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra12 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra13 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra14 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra15 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra16 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra17 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

  .container_quadra18 {
    display: flex;
    height: 75%;
    width: 18%;
    border: 5px #f37335 outset;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 2;
    margin-top: 5%;
    box-shadow: rgba(240, 101, 46, 0.4) 5px 5px, rgba(240, 101, 46, 0.3) 10px 10px,
      rgba(240, 101, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
      rgba(240, 101, 46, 0.05) 25px 25px;
     
  }

.div_trinta {
  width: 350px;
  height: 75%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.div_kaleman {
  width: 350px;
  height: 72%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.img_in_container {
  width: 90%;
  height: 50%;
  border-radius: 25px;
}



/*  Parte escolha da zona*/

.bem_vindo_h1{
  height: 20%;
  width: 100%;
  margin-top: 5.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1_boas_vindas #espacamento_1{
  margin-left: 15%;
  color: #108dc7;
}

.h1_boas_vindas #espacamento_2{
  margin-left: 25%;
 
}


.h1_boas_vindas {
  color: #f8f0f0;
  width: 75%;
  margin-left: 28%;
  font-style: normal;
  font-weight: 200;
}

.container_btns {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5.3%;
}

.btn_link {
  width: 135px;
  height: 45px;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(26, 25, 25, 0.35) 0px -50px 36px -28px inset;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #252525;
  background-color: #f88436fa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}

#btn_zs:hover {
  width: 150px;
  height: 55px;
  transition: 500ms linear;
  background-color: #108dc7;
  box-shadow: rgba(50, 50, 93, 0.384) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.39) 0px 18px 36px -18px inset;
}

#btn_zo:hover {
  width: 150px;
  height: 55px;
  transition: 500ms linear;
  background-color: #108dc7;
  box-shadow: rgba(50, 50, 93, 0.384) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.39) 0px 18px 36px -18px inset;
}
#btn_zn:hover {
  width: 150px;
  height: 55px;
  transition: 500ms linear;
  background-color: #108dc7;
  box-shadow: rgba(50, 50, 93, 0.384) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.39) 0px 18px 36px -18px inset;
}
#btn_zl:hover {
  width: 150px;
  height: 55px;
  transition: 500ms linear;
  background-color: #108dc7;
  box-shadow: rgba(50, 50, 93, 0.384) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.39) 0px 18px 36px -18px inset;
}

#btn_centro:hover {
  width: 150px;
  height: 55px;
  transition: 500ms linear;
  background-color: #108dc7;
  box-shadow: rgba(50, 50, 93, 0.384) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.39) 0px 18px 36px -18px inset;
}
