@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

*{
    font-family:'Josefin Sans', sans-serif;
  }
  

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;   
    background-color: #262525;
}
.header{
   
    color: #f8f0f0;
     background:linear-gradient(180deg, #FC830A 0%, rgba(177, 73, 4, 0.856) 100%);
     
}
.container{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}

.container h1{
    margin-left: 80px;
    justify-content: flex-start;
}

.img_bola_menu{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    
}

.navbar{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
    align-items: center ;
    
    font-weight: bold;
    margin-left: 35%;
}


.navbar a{
    color: #f8f0f0;
    text-decoration: none;
    font-size: 20px;
} 

/*

Inicio

*/

.banner{
width: 100%;
height: 800px;
}
.container_inicio{
    width: 100%;
    height: 500px;
    display: flex;
    margin-left: 4%;
    margin-top: 3%;  
}

.imagem_inicio{
    
    height: 400px;
    box-shadow: 8px 10px #fc830abe;
    border: 3.5px rgba(177, 73, 4, 0.856) inset;
}

.texto_incio{
    color: white;
    width: 400px;   
    margin-bottom: 100px;
    margin-left:200px ;
    margin-top: 100px;
    font-size: 20px;
    
}

/*
            Sobre nos
*/

.sobre_nos{
    height: 100vh;
    background-color: #262525;
    
}

.sobre_nos h1{
    color: #f8f0f0;
    display: flex;
    justify-content: center;
}

.container_sobre{
    margin: 5% 10% ;
    background-color: #fc830a;
    width: 80%;
    height: 80%;
    border-radius: 8px;
}